/* Staff Directory CardTile Component - MESSY */
.card-tile {
  display: inline-flex;
  margin: 0 0.75rem 1rem;
  width: 350px;
  max-width: 350px;
  height: 180px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 10px -2px black;
}

.card-tile .user-photo {
  max-width: 139px;
}

.card-tile .user-photo img {
  width: 100%;
  height: 180px;
}

.card-tile .user-info {
  position: relative;
  display: inline-flex;
  padding: 1.5rem 0.5rem;
  height: 180px;
  width: 211px;
  list-style: none;
  text-align: center;
  background: #c51534;
  color: #fff;
  border-left: 4px solid #363636;
  font-family: "Trebuchet MS", sans-serif;
  flex-direction: column;
}

.card-tile .user-info h3 {
  font-weight: 600;
}

.card-tile .user-info a:link,
.card-tile .user-info a:hover,
.card-tile .user-info a:visited {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}

.card-tile .user-info p {
  margin: 0;
  /* width: 180px; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.card-tile .user-info .title {
  font-style: italic;
}

.card-tile .user-info .department {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.card-tile .user-info .contacts span {
  font-size: 0.8rem;
  display: inline-block;
  min-width: 49%;
  max-width: 49%;
}

.card-tile .user-info .contacts span a:link,
.card-tile .user-info .contacts span a:visited,
.card-tile .user-info .contacts span a:hover {
  color: #fff;
  text-decoration: none;
}
